
.home{
    margin: 0;
    left: 0;
}
.title{
    position: absolute;
    left: 12%;
    right: 18%;
    margin: 2rem auto;
    color: #000;
/* font-family: Rantera; */
font-size: 1rem;
font-style: normal;
font-weight: 100;
line-height: 98.9%; /* 2.4725rem */
z-index: 1000;
}
p{
color: #712609;
font-family: Quesha;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: 98.9%; /* 1.23625rem */
}


.imageHome{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 220px);
}

.contagem{
    position: sticky;
    margin: -2.5rem 20%;
    /* display: block; */
    width: 14.3rem;
    height: 4.3rem;
    border-radius: 1.25rem 0rem;
    background: #A64A17;
}
.contagem h5{
    color: #fff;
    padding: 0;
    margin: .4rem;
}
.contagem .numbers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contagem .rectangle{
    margin: 0 .2rem;
    padding: .18rem 0;
    width: 2.0625rem;
    height: 1.75rem;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, .1);
    color: #423723;
    font-size: 1rem;
    font-weight: 800;
}