*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import './App-fonts.css';





<<<<<<< HEAD



=======
>>>>>>> a8ee189964c9d41bfd674a5ea0dd427ec9932b2d
@media(max-width: 200px){
  *{
    font-size: 40%;
  }
}
